.container {
    width: 200px;
    height: 100px;
}

.container > * {
    display: block;
}

.form {
    display: grid;
    place-items: center;
}

.form > *{
    display: block;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 0;
}

.select {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 0;
}

.button {
    font-weight: bold;
    color: rgb(102, 102, 255);
    letter-spacing: 1px;
    background: rgb(236, 236, 255);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    transition: ease all 0.3s;
    cursor: pointer;
}

.button:hover {
    background: rgb(181, 181, 255);
    color: white;
}