.container {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin: 30px;
    display: grid;
    place-items: center;
}

.formContainer {
        display: grid;
        place-items: center;
    
}

.NERW {
    display: none;
    place-items: center;
    height: 500px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.button {
    font-weight: bold;
    color: rgb(102, 102, 255);
    letter-spacing: 1px;
    background: rgb(236, 236, 255);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    transition: ease all 0.3s;
    cursor: pointer;
}

.button:hover {
    background: rgb(181, 181, 255);
    color: white;
}