.container {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    grid-gap: 20px;
    padding: 30px;
}